doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title Carousel
  link(rel="stylesheet", href="./css/style.css")
body
  #slider
    ul#sliderWrap
      li
      li
      li
      li
      li
      li
      li
    a#prev(href="#") &#8810;
    a#next(href="#") &#8811;
  script(src="./js/main.js")
